#navigator-toolbox toolbarbutton.bookmark-item:not(.subviewbutton)
{
	padding: 6px !important;
}

#PlacesToolbar .bookmark-item[container] {
  list-style-image: url(./folder.svg) !important;
}

#main-window[lwthemetextcolor=bright] #PlacesToolbar .bookmark-item[container] {
  list-style-image: url(./folder-dark.svg) !important;
}