#commonDialog {
  --in-content-primary-button-background: var(--primary-color) !important;
  --in-content-primary-button-text-color: var(--primary-text-color) !important;
  --in-content-primary-button-background-hover: var(--primary-color-lighter) !important;
  --in-content-primary-button-text-color-hover: var(--primary-text-color) !important;
  --in-content-primary-button-background-active: var(--primary-color-very-light) !important;
  --in-content-primary-button-text-color-active: var(--primary-text-color) !important;
}
