/* light mode */
:root:not([style]),
:root[style*='--lwt-accent-color:rgb(227, 228, 230);'],
:root[style*='--lwt-accent-color:white;'] {
  /* accentcolor */
  --lwt-accent-color: #dee1e6 !important;

  /* textcolor */
  --lwt-text-color: #606368 !important;

  /* toolbar */
  --toolbar-bgcolor: #fff !important;

  /* toolbar_text */
  --toolbar-color: #606368 !important;

  /* toolbar_bottom_separator */
  --toolbox-border-bottom-color: #b3b1b3 !important; /* legacy */
  --chrome-content-separator-color: #b3b1b3 !important;

  /* icons */
  --lwt-toolbarbutton-icon-fill: #606368 !important;

  /* icons_attention */
  --lwt-toolbarbutton-icon-fill-attention: #5086ec !important;

  /* button_background_hover */
  --lwt-toolbarbutton-hover-background: rgba(0, 0, 0, 0.07) !important;

  /* button_background_active */
  --lwt-toolbarbutton-active-background: rgba(0, 0, 0, 0.11) !important;

  --lwt-toolbar-field-color: #202124 !important;

  /* popup_highlight */
  --autocomplete-popup-highlight-background: #f2f2f2 !important;

  /* popup_highlight_text */
  --autocomplete-popup-highlight-color: #202124 !important;
}

/* don't bother with sidebar in light mode */

/* dark mode */
:root[lwtheme-brighttext],
:root[privatebrowsingmode='temporary'] {
  /* accentcolor */
  --lwt-accent-color: #202124 !important;

  /* textcolor */
  --lwt-text-color: #9ba0a5 !important;

  /* toolbar */
  --toolbar-bgcolor: hsl(0, 0%, 20%) !important;

  /* toolbar_text */
  --toolbar-color: #fff !important;

  /* toolbar_bottom_separator */
  --toolbox-border-bottom-color: #282828 !important; /* legacy */
  --chrome-content-separator-color: #282828 !important;

  /* icons */
  --lwt-toolbarbutton-icon-fill: #fff !important;

  /* icons_attention */
  --lwt-toolbarbutton-icon-fill-attention: var(--primary-color) !important;

  /* button_background_hover */
  --lwt-toolbarbutton-hover-background: #434649 !important;

  /* button_background_active */
  --lwt-toolbarbutton-active-background: #4e5153 !important;

  --lwt-toolbar-field-color: #fff !important;

  /* popup */
  --arrowpanel-background: #373737 !important;

  /* popup_text */
  --arrowpanel-color: #fff !important;
  --autocomplete-popup-color: #fff !important;
  --panel-disabled-color: hsla(0, 0%, 100%, 0.5) !important;

  /* popup_border */
  --arrowpanel-border-color: #555 !important;
  --autocomplete-popup-border-color: #555 !important;

  /* popup_highlight */
  --autocomplete-popup-highlight-background: #4c4f52 !important;

  /* popup_highlight_text */
  --autocomplete-popup-highlight-color: #fff !important;

  /* urlbar popup */
  --lwt-brighttext-url-color: var(--primary-color) !important;
}

:is(#sidebar-box, #sidebar)[style*='--sidebar-background-color:rgb(56, 56, 61);'] {
  /* sidebar */
  --sidebar-background-color: #333639 !important;

  /* sidebar_text */
  --sidebar-text-color: #f1f3ee !important;
}

:is(.sidebar-panel, body)[style*='--lwt-sidebar-background-color:rgb(56, 56, 61);'] {
  /* sidebar */
  --lwt-sidebar-background-color: #333639 !important;

  /* sidebar_text */
  --lwt-sidebar-text-color: #f1f3ee !important;
}

:host,
:root {
  --primary-color: hsl(219, 72%, 53%);
  // hover
  --primary-color-lighter: hsl(219, 75%, 60%);
  // active
  --primary-color-very-light: hsl(219, 80%, 65%);
  --primary-text-color: white;

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-basic: linear;

  --button-size: 32px; /* is this used? */
  --icon-size: 24px; /* is this used? */

  --downloads-item-height: 48px !important;

  --item-height: 28px;
  --popup-border-radius: 8px;
  --icon-button-radius: 50%;

  --toolbar-non-lwt-bgcolor: var(--toolbar-bgcolor) !important;
  --toolbar-non-lwt-textcolor: var(--toolbar-color) !important;

  --toolbar-field-fontsize: 14px !important;

  --mf-space-above-tabbar: 8px;

  --tab-separator-opacity: 0.35 !important;
  --tab-block-margin: var(--mf-space-above-tabbar) !important;
  --tab-top-radius: 8px;
  --tab-bottom-radius: var(--tab-top-radius);

  --toolbar-field-background-color: hsl(200, 12%, 95%) !important;
  --toolbar-field-hover-background-color: hsl(216, 12%, 92%) !important;
  --toolbar-field-focus-background-color: hsl(0, 0%, 100%) !important;

  --arrowpanel-menuitem-margin: 0 !important;
  --arrowpanel-menuitem-margin-inline: 0 !important;
  --arrowpanel-menuitem-padding-block: 6px !important;
  --arrowpanel-menuitem-padding-inline: 10px !important;
  --arrowpanel-menuitem-padding: var(--arrowpanel-menuitem-padding-block)
    var(--arrowpanel-menuitem-padding-inline) !important;
  --arrowpanel-menuitem-border-radius: 0px !important;

  &[privatebrowsingmode='temporary'] {
    --toolbar-field-background-color: #202124 !important;
    --toolbar-field-hover-background-color: #292a2d !important;
    --toolbar-field-focus-background-color: #202124 !important;

    & :is(#urlbar, #searchbar) {
      --toolbarbutton-hover-background: hsl(206, 5%, 26%) !important;
      --toolbarbutton-active-background: hsl(210, 4%, 31%) !important;
    }
  }

  &:not(:-moz-lwtheme):not([privatebrowsingmode='temporary']) {
    --toolbar-bgcolor: hsl(0, 0%, 100%) !important;
    --toolbar-color: hsl(213, 5%, 39%) !important;
    --toolbox-border-bottom-color: hsl(0, 0%, 70%) !important;
  }

  @media (prefers-color-scheme: dark) {
    --toolbar-field-background-color: #202124 !important;
    --toolbar-field-hover-background-color: #292a2d !important;
    --toolbar-field-focus-background-color: #202124 !important;

    --focus-outline-color: var(--primary-color) !important;

    & :is(#urlbar, #searchbar) {
      --toolbarbutton-hover-background: hsl(206, 5%, 26%) !important;
      --toolbarbutton-active-background: hsl(210, 4%, 31%) !important;
    }
  }

  @supports -moz-bool-pref('materialFox.maximizedNoTopPadding') {
    &[sizemode='maximized'] {
      --mf-space-above-tabbar: 0px;
    }
  }
}

#titlebar,
#tabbrowser-tabs {
  // tab background shadow is set by FF
  --mf-tab-shadow-size: 4px;
  --mf-tab-margin-top: var(--mf-tab-shadow-size);
  --mf-tab-height: 32px !important;
  --mf-tab-height-full: calc(var(--mf-tab-height) + var(--mf-tab-margin-top))
  // --tab-min-height is used by FF
  --tab-min-height: var(--mf-tab-height-full);

  :is(:host, :root)[sizemode='maximized'] & {
    --mf-tab-margin-top: 0;
  }
}

@supports -moz-bool-pref('materialFox.reduceTabOverflow') {
  #tabbrowser-tabs {
    --tab-min-width: 32px !important;
  }
}

/* Ubuntu */
@media (-moz-gtk-csd-available) {
  :root:not(:-moz-lwtheme):not([privatebrowsingmode='temporary']) {
    --toolbar-bgcolor: -moz-dialog !important;
    --toolbar-color: -moz-dialogtext !important;
  }
}

:root:-moz-lwtheme-darktext,
:root toolbar:not([brighttext]),
.tabbrowser-tab[visuallyselected] {
  --toolbarbutton-hover-background: var(
    --lwt-toolbarbutton-hover-background,
    hsla(0, 0%, 0%, 0.07)
  ) !important;
  --toolbarbutton-active-background: var(
    --lwt-toolbarbutton-active-background,
    hsla(0, 0%, 0%, 0.11)
  ) !important;
}

:root:-moz-lwtheme-brighttext,
:root toolbar[brighttext],
.tabbrowser-tab[visuallyselected]:-moz-lwtheme-brighttext {
  --toolbarbutton-hover-background: var(
    --lwt-toolbarbutton-hover-background,
    hsla(0, 0%, 100%, 0.1)
  ) !important;
  --toolbarbutton-active-background: var(
    --lwt-toolbarbutton-active-background,
    hsla(0, 0%, 100%, 0.17)
  ) !important;
}

/* special case for urlbar buttons */
:is(#urlbar, #searchbar) {
  --toolbarbutton-hover-background: hsl(210, 5%, 85%) !important;
  --toolbarbutton-active-background: hsl(210, 4%, 80%) !important;
}

@-moz-document url("chrome://browser/content/places/bookmarkProperties.xhtml"), url("chrome://browser/content/places/bookmarkProperties2.xhtml")
{
  :root[dialogroot] {
    &,
    & dialog {
      --in-content-primary-button-background: var(--primary-color) !important;
      --in-content-primary-button-text-color: var(--primary-text-color) !important;

      --in-content-primary-button-background-hover: var(--primary-color-lighter) !important;
      --in-content-primary-button-text-color-hover: var(--primary-text-color) !important;

      --in-content-primary-button-background-active: var(--primary-color-very-light) !important;
      --in-content-primary-button-text-color-active: var(--primary-text-color) !important;
    }
  }
}
