.findbar-textbox {
  background-color: transparent !important;
  background-image: url(../icons/search.svg) !important;
  background-repeat: no-repeat !important;
  background-position: 5px center !important;
  fill-opacity: 1 !important;
  border: 0 !important;
  box-shadow: none !important;
  margin-inline-start: 2px !important;
  padding-inline-start: 28px !important;
  border-radius: 99px !important;
  -moz-context-properties: fill;
  fill: var(--lwt-toolbar-field-color);
  &:focus:not([status="notfound"]) {
    outline: none !important;
  }
}

hbox[anonid="findbar-textbox-wrapper"] {
  background-color: var(--toolbar-field-background-color) !important;
  border-radius: 16px !important;
  position: relative !important;
  display: flex !important;
  padding: 2px !important;
  height: 28px !important;
  transition: background-color 0.1s var(--ease-basic) !important;
  &:hover {
    background-color: var(--toolbar-field-hover-background-color) !important;
  }
  &:focus-within {
    background-color: var(--toolbar-field-focus-background-color) !important;
    /* won't work in a var... */
    border: 2px solid -moz-accent-color !important;
    margin: -1px !important;
    padding: 1px !important;
    height: 30px !important;
  }
  & toolbarbutton {
    border-radius: 99px !important;
    border: 0 !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
    display: flex !important;
    background: 0 !important;
    transition: background-color 0.2s var(--ease-basic) !important;
    margin: 0 !important;
    box-shadow: none !important;
    &[disabled] {
      display: none !important;
    }
    &:not([disabled]):hover {
      background-color: var(--toolbarbutton-hover-background) !important;
    }
    &:not([disabled]):hover:active {
      background-color: var(--toolbarbutton-active-background) !important;
      transition-duration: 0 !important;
    }
    & .toolbarbutton-text {
      visibility: collapse !important;
    }
  }
}
