#navigator-toolbox toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: 6px !important;
}

#main-window[lwthemetextcolor='bright'] #PlacesToolbar .bookmark-item[container] {
  list-style-image: url(./folder-dark.svg) !important;
}

#PersonalToolbar .toolbarbutton-1 {
  // overwrite default 4px
  --toolbarbutton-inner-padding: 6px !important;
}

#PlacesToolbar {
  & .bookmark-item[container] {
    list-style-image: url(./folder.svg) !important;
  }

  #PlacesToolbarItems toolbarbutton.bookmark-item:not(.subviewbutton) {
    border-radius: 8px !important;
  }
}

#PlacesChevron > .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
}
