#navigator-toolbox toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: 6px !important;
}

#main-window[lwthemetextcolor="bright"]
  #PlacesToolbar
  .bookmark-item[container] {
  list-style-image: url(./folder-dark.svg) !important;
}

#PlacesToolbar {
  & .bookmark-item[container] {
    list-style-image: url(./folder.svg) !important;
  }
  /* remove space between bookmark folder and popup */
  & menupopup {
    margin-block-start: -4px !important;
    margin-inline-start: 2px;
  }

  #PlacesToolbarItems toolbarbutton.bookmark-item:not(.subviewbutton) {
    border-radius: 8px !important;
  }
}
